<%= form_for @picture, html: {class: 'form-horizontal'} do |f| %>

    <div class="form-group <%= 'has-error' if @picture.errors[:title].any? %>">
      <div class="col-sm-10">
        <%= f.label :name %>
        <%= f.text_field :name %> <br/>
      </div>
    </div>

    <%= f.label :image %>
    <%= f.file_field :image %> <br/>

    <%= f.submit %>

<% end %>