<h1>Welcome to Gallery!</h1>


<% @pictures.each do |picture| %>
<div>

      <%= link_to picture.name, picture_path(picture.id) %> <br/>
      <%= image_tag picture.image.url(:medium) %> <br/>
      <%= picture.user.name %>



</div>


<% end %>

<% if user_signed_in? %>
<%= link_to 'create', new_picture_path, class: 'btn btn-primary' %>
<% end %>