<h1>This is <%= @picture.name %></h1>

<%= image_tag @picture.image.url(:medium) %>

<% if user_signed_in? %>
    <%= form_for @comment, :url => { :action => 'create_comment', html: {class: 'form-horizontal'} } do |f| %>
        <%= f.hidden_field :picture_id, :value => @picture.id %>
        <%= f.label :note %>
        <%= f.text_area :note %> <br/>

        <%= f.label :rate %>
        <%= f.select :rate, (1..5) %> <br/>

       <%= f.submit class: 'btn btn-primary' %>
    <% end %>
<% end %>

<hr/>
<hr/>

<% @comments.each do |comment| %>
    <% if comment.picture_id == @picture.id %>

        <div class="panel panel-default">
          <div class="panel-heading"> by: <%= comment.user.name %> <br/> score: <%= comment.rate %></div>
          <div class="panel-body">
            <%= comment.note %>
          </div>
        </div>
    <% end %>
<% end %>

